.slide
{
	border: 2px solid #000;
	height: 500px;
	flex: 100%;
    box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.slide h1
{
	text-align: center;
	margin: auto;
}

.slide h2
{
	text-align: center;
	margin: 50px;
}

.slide p
{
	text-align: center;
	margin: 50px;
	margin-top: 0px;
}

.two-column
{
	-webkit-columns: 2;
	columns: 2;
	margin: 50px;
	margin-top: 0;
}

.two-column p
{
	text-align: left;
	text-indent: 1em;
	margin: 0;
}
