.slide-show
{
    width: 1000px;
}

.main-menu
{
    border: 2px solid #000;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.dropdown
{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn
{
    cursor: pointer;
    font-size: 14px;    
    border: none;
    text-align: center;
    background-color: inherit;
    outline: none;
}

.dropbtn:hover
{
    background-color: #ddd;
}

.file-content
{
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

.menu-button:hover
{
    background-color: #ddd;
}

.menu-button
{
    background: transparent;
	border: none;
    font-size: 14px;
    text-align: center;
    outline: none;
}

.openDialog
{
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25%;
    right: 25%;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.openDialogOverlay
{
    position: fixed;
    top: 8px;
    left: 8px;
    height: 555px;
    width: 1000px;
    background-color: rgba(100, 255, 255, 0.75);
}

.slideShow-list
{
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 20px;
    overflow: auto;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: left;
}

.slideShow-list table, tr, th
{
    border: 1px solid #000;
    border-collapse: collapse;
}

.slideShow-list tr
{
    font-size: 14px;
}

.slideshow-row
{
    cursor: pointer;
}

.slideshow-row:hover
{
    background-color: #ddd;
}

.slideShow-list tr:focus
{
    outline: none;
}

.slideShow-list th
{
    padding: 5px;
}

.dialog-close-button
{
    background: transparent;
	border: 1px solid #000;
	padding: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
	text-align: center;
    font-size: 18px;
}

.dialog-close-button:focus
{
    outline: none;
}

.nav-menu
{
    border: 2px solid #000;
    height: 500px;
    width: 250px;
    margin-right: 5px;
    box-sizing: border-box;
    flex: initial;
    float: left;
    display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: column;
	flex-direction: column;
    align-items: center;
}

.nav-button
{
    background: transparent;
	border: none;
	padding: 0;
	text-align: center;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.checked::before
{
    content: "\2713\0020";
}

.checked:focus
{
    outline: none;
}

.prev
{
	background: transparent;
	border: none;
	float: left;
	font-size: 14px;
	padding: 0;
	text-align: center;
	transform: translate(0, -100%);
	margin-top: -20px;
    margin-left: 279px;
}

.next
{
	background: transparent;
	border: none;
	float: right;
	font-size: 14px;
	padding: 0;
	text-align: center;
    position: relative;
    transform: translate(0, -100%);
	margin-top: -20px;
	margin-right: 20px;
}

.prev:focus
{
	outline: none;
}

.next:focus
{
	outline: none;
}
